*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
.container{
    width: 50% !important;
}

#tableBody h5{
    text-align: center;
}

footer{
    margin-top: 4rem;
    padding: .2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer span span{
    font-weight: 500;
}

